/* @import-normalize是React自己发明的语法，它能自动添加一些全局css样式 */
@import-normalize;
// 引入公用样式
@import "helper/helper.scss";

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-heiti;
}

